  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">
              <i class="icon-tag menu-icon"></i>
              <span class="menu-title">Category Manage</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
             <i class="icon-columns menu-icon"></i>
              <span class="menu-title">User Manage</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/job-manage">
              <i class="icon-briefcase menu-icon"></i>
              <span class="menu-title">Job Manage</span>
            </a>
          </li>
      </nav>