.table-header-custom {
  background-color: #4B49AC !important;
  color: #fff !important;
}

.form_card{
  background-color: #f8f9fa !important; 

}

.form_header{
  background-color: #4B49AC !important;
  color: #fff !important;
}

